html{
    background: url("https://as2.ftcdn.net/v2/jpg/02/09/01/53/1000_F_209015311_Ww9DUiSLRZUQnRYJcolFZ88CD0mczRpM.jpg") center;
}
body{
    margin: 0;
    padding: 0;
    backdrop-filter: brightness(0.2);
    padding-top: 10px;
}
#root > :not(header,footer, nav){
    background: rgba(29, 31, 34, 0.90);
    margin: 0 10%;
}
header{
    color: white;
    font-size: large;
    text-align: center;
    padding-bottom: 3%;
}
nav{
    margin: 0 10%;
    background-color: black;
}
article{
    min-height: 900px;
}
footer{
    margin: 0 10%;
    font-size: large;
    text-align: center;
    color: aliceblue;
    background-color: black;
    min-height: 5%;
}
p, h1{
    margin: 0;
}
img{
    width: 75px;
    padding: 2%;
}
.account-buttons{
    margin-right: 10%;
    display: flex;
    float: right;
}
.account-buttons > p > button{
    background-color: black;
    color: white;
    border: 1px rgba(29, 31, 34, 0.90) solid;
    padding: 10px;
}
.title{
    display: block;
    justify-content: center;
}