
html{
    margin: 0;
    padding: 0;
    background: url("https://as2.ftcdn.net/v2/jpg/02/09/01/53/1000_F_209015311_Ww9DUiSLRZUQnRYJcolFZ88CD0mczRpM.jpg") fixed;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    backdrop-filter: brightness(0.2);
    min-height: 100vh;
}
body header,nav,article,footer{
    margin: 0 10%;
}
#root > :not(header,footer, nav){
    background: rgba(29, 31, 34, 0.90);
}
header{
    background: linear-gradient(rgba(255,255,255,0.2), black);
    color: black;
    font-family: 'Niconne', Arial;
    -webkit-text-stroke: 0.2px white;
    font-size: 2.5vw;
    text-align: center;
    height: 10vh;
}
.title {
    height: 100%;
    padding: 2%;
}
nav{
    height: fit-content;
    background-color: black;
}
nav > button{
    border: 0;
    border-radius: 100%;
    padding: 10px;
    background-color: black;
    display: inline-flex;
    font-size: 90%;
}
nav > ul , ul > li{
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-flex;
}
li > button{
    width: 100%;
}
#logoCat{
    height: 5vw;
}
article{
    min-height: 70vh;
    padding-top: 5vh;
}
footer{
    margin: 0 10%;
    font-size: large;
    text-align: center;
    color: aliceblue;
    background-color: black;
    max-height: 5vh;
}
p, h1{
    margin: 0;
}
button{
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px rgba(29, 31, 34, 0.90) solid;
    padding: 20px;
}
button:hover{
    background: linear-gradient(rgba(29, 31, 34, 0.90), black);
}
.account-buttons{
    display: flex;
    float: right;
}

.title{
    display: block;
    justify-content: center;
}

#loginModal,#registerModal{
    position: absolute;
    top: 4.7%;
    right: 0;
    margin: auto;
    background: url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
    border-radius: 5%;
    border: 2px solid black;
    width: 30%;
}

#loginModal>#login,#registerModal>#register{
    margin: auto;
    width: 50%;
    height: 40%;
}


/*CURSE*/

#meniuPisici{
    padding: 5%;
    height: 60vh;
}
#statistici{
    height: fit-content;
    max-height: 60vh;
    overflow: auto hidden;
    margin-bottom: 2%;
    border: 2px black solid;
    box-shadow: 0px 0px 20px black;
}
#scrollableArea{
    height: 100%;
    white-space: nowrap; 
    width: fit-content;
    background: linear-gradient(rgba(29, 31, 34, 0), rgba(0,0,0,0.76));
}
#bet{
    height: 10vh;
    font-size: x-large;
    color: white;
}
#suma{
    text-align: center;
    background-color: black;
    padding: 2% 0;
}
.pisica{
    margin: 5px 15px;
    height: 100%;
    padding: 10px;
    width: 20vw;
    display: inline-block;
    background-color: black;
    text-align: center;
}
.pisica > h1{
    width: 100%;
    margin-bottom: 20px;
    color: azure;
}
.pisica > img{
    width: 100%;
    background-color: black;
    margin-bottom: 10%;
}
.pisica > button{
    display: block;
    margin: auto;
}
#suma > form > input, label > input{
    background-color: black;
    color: white;
    border: 1px rgba(29, 31, 34, 0.90) solid;
    padding: 20px;
}
#suma > form > input:hover{
    background-color: rgba(29, 31, 34, 0.90);
}
#suma > form > label > input{
    background: linear-gradient(rgba(29, 31, 34, 0), rgba(0,0,0,0.76));
    border: 1px white solid;
    box-shadow: 1px 1px 5px white inset;
}

/*ABOUT*/

#about{
    height: auto;
    font-size: medium;
    color: white;
    text-align: left;
    background-color: black;
    margin: 5%;
    padding: 2%;
}